
*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 15px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center                                                                                                                                                         ;
}
.navbar .nav-logo{
    font-size: 25px;
    color:#10a37f ;
}
.navbar ul{
    list-style: none;
    gap: 25px;
    display: flex;
}
.navbar ul li{
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: brown;
    transition: 0.3s ease;
    font-weight: bold;
}
.navbar ul li a::before{
content: '';
position: absolute;
width: 0;
height: 2px;
left: 0;
bottom: 5px;
background-color:#10a37f ;
transition: 0.3s ease;
}
.navbar ul li a:hover{
    color: #10a37f;
}
.nav-search{
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.nav-search input{
    padding: 7px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 10px;
    background-color: #333;
    color: #fff;
    transition: 0.3s;
}
.nav-search input:focus{
    width: 200px;
    background-color: #222;

}
.nav-search button{
    font-size: 16px;
    padding: 7px 15px;
    background-color: chocolate;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;

}
.nav-search button:hover{
    background-color: rgba(210, 105, 30, 0.75);
}

body{
    text-align: center;
}

h1{
    color: crimson;
    font-size: xx-large;
    font-weight: bolder;
}

#myloctn{
    color: darkgreen;
}
#mytel{
    color: darkgreen;
}
#myemail{
    color: darkgreen;
}
#nxtbtn{
    width: 300px;
    height: 30px;
    background-color: rgb(109, 200, 109);
     font-weight: bold;
    color: white;
    border-left: white;
    border-right: white;
    border-bottom: white;
    border-top: white;
     border-radius: 5em;
}
#sbt{
    width: 300px;
    height: 30px;
    background-color: rgb(219, 102, 164);
    font-weight: bold;
    color: white;
    border-left: white;
    border-right: white;
    border-bottom: white;
    border-top: white;
    border-radius: 5em;

}
form{
    margin: auto;
    width: 350px;
    height: 400px;
    background-color: aqua;
    text-align: center;
    border-radius: 1em;
}
#sbt:hover{
    cursor: pointer;
    background: rgba(255, 20, 145, 0.889);
}

#nxtbtn:hover{
    cursor: pointer;
    background: rgba(34, 139, 34, 0.884);
}
.SM-1{
    font-weight: bold;
}

.SM-6{
    color: black;
    font-weight: bold;
}

.SM-7 {
    color:blue;
    font-weight: bold;
}

.SM-8{
    color: black;
    font-size: larger;
    font-weight: bold;
    color: maroon;
}
